@import url("@radix-ui/colors/gray.css");
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
	:root {
    --base-1: 240 20% 99.01960784313727%;
    --base-2: 240 19.999999999999943% 98.0392156862745%;
    --base-3: 240 11.111111111111065% 94.70588235294117%;
    --base-4: 240 9.52380952380956% 91.76470588235294%;
    --base-5: 230.00000000000003 10.714285714285722% 89.01960784313725%;
    --base-6: 240 10.144927536231888% 86.47058823529412%;
    --base-7: 233.33333333333337 9.89010989010989% 82.15686274509804%;
    --base-8: 230.7692307692308 10.23622047244095% 75.09803921568627%;
    --base-9: 230.76923076923066 5.936073059360735% 57.05882352941176%;
    --base-10: 226.1538461538462 5.394190871369299% 52.74509803921569%;
    --base-11: 220 5.88235294117647% 40%;
    --base-12: 210 12.5% 12.549019607843137%;
    --accent-1: 79.99999999999982 42.85714285714309% 98.62745098039215%;
    --accent-2: 77.14285714285708 41.176470588235325% 96.66666666666666%;
    --accent-3: 75 64.00000000000004% 90.19607843137256%;
    --accent-4: 76.47058823529414 62.962962962962955% 84.11764705882354%;
    --accent-5: 78.46153846153848 57.5221238938053% 77.84313725490196%;
    --accent-6: 79.72602739726027 49.65986394557823% 71.17647058823529%;
    --accent-7: 82.22222222222223 42.85714285714285% 62.94117647058823%;
    --accent-8: 85.10204081632652 40.16393442622952% 52.156862745098046%;
    --accent-9: 81.15107913669065 80.34682080924857% 66.07843137254902%;
    --accent-10: 81.03896103896103 75.49019607843138% 60%;
    --accent-11: 84.93506493506494 45.029239766081865% 33.529411764705884%;
    --accent-12: 75 39.130434782608695% 18.03921568627451%;
    --background: 240 20% 99.01960784313727%;
    --foreground: 210 12.5% 12.549019607843137%;
    --card: 240 19.999999999999943% 98.0392156862745%;
    --card-foreground: 210 12.5% 12.549019607843137%;
    --popover: 240 20% 99.01960784313727%;
    --popover-foreground: 210 12.5% 12.549019607843137%;
    --primary: 130.96774193548387 42.85714285714285% 42.549019607843135%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 220 5.88235294117647% 40%;
    --muted: 240 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 220 5.88235294117647% 40%;
    --accent: 81.03896103896103 75.49019607843138% 60%;
    --accent-foreground: 75 39.130434782608695% 18.03921568627451%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
    --border: 240 10.144927536231888% 86.47058823529412%;
    --input: 240 10.144927536231888% 86.47058823529412%;
    --ring: 240 10.144927536231888% 86.47058823529412%;
    --radius: 0.5rem;
}
  .dark {
    --base-1: 240 5.555555555555555% 7.0588235294117645%;
    --base-2: 220 5.88235294117647% 10%;
    --base-3: 225.00000000000006 5.7142857142857135% 13.725490196078432%;
    --base-4: 210.00000000000003 7.1428571428571415% 16.47058823529412%;
    --base-5: 214.28571428571428 7.0707070707070745% 19.411764705882355%;
    --base-6: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --base-7: 212.72727272727275 7.586206896551727% 28.431372549019606%;
    --base-8: 212.00000000000003 7.692307692307687% 38.23529411764706%;
    --base-9: 218.57142857142856 6.250000000000003% 43.92156862745098%;
    --base-10: 221.53846153846155 5.1792828685259% 49.21568627450981%;
    --base-11: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --base-12: 220 9.09090909090906% 93.52941176470588%;
    --accent-1: 77.14285714285714 22.58064516129032% 6.078431372549019%;
    --accent-2: 90 23.809523809523807% 8.235294117647058%;
    --accent-3: 93.33333333333333 28.125000000000007% 12.549019607843137%;
    --accent-4: 92.30769230769229 30.95238095238096% 16.470588235294116%;
    --accent-5: 90.9090909090909 32.03883495145631% 20.19607843137255%;
    --accent-6: 91.5 32.25806451612904% 24.31372549019608%;
    --accent-7: 90.61224489795919 33.33333333333333% 28.82352941176471%;
    --accent-8: 89.50819672131146 35.26011560693641% 33.92156862745098%;
    --accent-9: 81.15107913669065 80.34682080924857% 66.07843137254902%;
    --accent-10: 78.04195804195804 100% 71.96078431372548%;
    --accent-11: 79.83471074380165 69.94219653179191% 66.07843137254902%;
    --accent-12: 79.672131147541 79.22077922077926% 84.90196078431373%;
    --background: 240 5.555555555555555% 7.0588235294117645%;
    --foreground: 220 9.09090909090906% 93.52941176470588%;
    --card: 220 5.88235294117647% 10%;
    --card-foreground: 220 9.09090909090906% 93.52941176470588%;
    --popover: 240 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 220 9.09090909090906% 93.52941176470588%;
    --primary: 131.25 38.709677419354826% 51.37254901960784%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5.88235294117647% 10%;
    --secondary-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --muted: 220 5.88235294117647% 10%;
    --muted-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --accent: 78.04195804195804 100% 71.96078431372548%;
    --accent-foreground: 75 39.130434782608695% 18.03921568627451%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --input: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --ring: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --radius: 0.5rem;
  }
}

@layer base {
	* {
		@apply border-border;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-background text-foreground overscroll-none;
		/* font-feature-settings: "rlig" 1, "calt" 1; */
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
		font-variant-ligatures: common-ligatures;
		text-wrap: pretty;
	}

	html {
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		scroll-behavior: smooth;

		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		blockquote,
		figure,
		iframe,
		img,
		pre,
		table,
		select,
		dl,
		dd {
			margin-bottom: 24px;
		}
	}
	h1 {
		margin-left: -12px;
		border-left-width: 2px;
		border-color: #2563eb;
		padding-left: 12px;
		text-indent: -2px;
		font-weight: 700;
	}
	h2 {
		text-decoration-line: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 4px;
		text-decoration-color: #818181;
	}
	ol,
	ul,
	nav {
		display: block;
		unicode-bidi: isolate;
	}
	blockquote:not(:has(p)),
	blockquote p:only-child,
	blockquote:has(p + p) p:not(:last-child) {
		border-left-width: 2px;
		border-color: var(--muted);
		padding-left: 12px;
	}
}


/* Add a .preload class to prevent transitions during page load */
.preload * {
	transition: none !important;
}
.dot-fill {
	position: relative;
	border-style: none;
	width: 100%;
	height: 16px;
	line-height: 1rem;
	overflow: hidden;
}

.dot-fill:before {
	content: "...................................................................................................................";
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
}




.dashed-box-x-t {
	background-size: 1px 100%, 100% 1px, 1px 100%, 0 0;
}

.dashed-box-x-b {
	background-size: 1px 100%, 0 0, 1px 100%, 100% 1px;
}

.dashed-box {
	background-image: repeating-linear-gradient(
			0deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		),
		repeating-linear-gradient(
			90deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		),
		repeating-linear-gradient(
			180deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		),
		repeating-linear-gradient(
			270deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		);
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

